*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

@font-face {
    font-family: 'icons';
    src: url('font/icons-webfont.eot');
    src: url('font/icons-webfont.eot?#iefix') format('embedded-opentype'), url('font/icons-webfont.woff') format('woff'), url('font/icons-webfont.ttf') format('truetype'), url('font/icons-webfont.svg#icons-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

html,
body {
    font-family: "Open sans", sans-serif;
    font-size: 2.2vh;
    background-color: #ebeef7;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    margin: 0;
    overflow: hidden;
}

button {
    outline: none;
    padding: 0;
    text-align: center;
}

button value {}

input {
    outline: none;
}

select {
    outline: none;
}


/*-----------------BUTTONS------------------*/

.btn_shape {
    display: inline-block;
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */
    -khtml-border-radius: 5px;
    /* KHTML */
    border-radius: 5px;
    /* CSS3 */
    behavior: url(border-radius.htc);
    /* IE border-radius */
    border: 1px solid #d6d6d6;
}

.btn_normal {
    width: 4.5vw;
    height: 4.5vw;
    background: white;
}

.btn_normal:active {
    background: #e7e7e7;
}

.btn_icons {
    font-family: icons;
    font-size: 4vh;
}

.btn_calc {
    background: #ebebeb;
    width: 100%;
    height: 100%;
    font-size: 3.5vh;
}

.btn_calc:active {
    background: #f5f5f5;
}

.btn_green {
    background: #41b3b3;
    color: white;
}

.btn-green:active {
    background: #449595;
}

.btn_red {
    background: #e93522;
    color: white;
}

.btn_red:active {
    background: #b94033;
}

.btn_wide {
    background: #37474F;
    display: inline-block;
    font-weight: 500;
    color: white;
    width: 100%;
}

.btn_wide:active {
    background: #323232;
}

.btn-pay {
    width: 30vh;
    font-size: 24px;
    font-weight: 600;
    float: right;
    margin-top: 40px;
}

.check {
    width: 15px;
    height: 15px;
}

.disabled {
    background: #e7e7e7;
}


/*-----------------BUTTONS------------------*/


/*---------------TOPBAR----------------*/

.topbar {
    height: 50px;
    background: #41b3b3;
    margin: 0;
    color: white;
    font-size: 1.6vh;
    line-height: 49px;
}

.logo {
    width: 100px;
    background: #37474F;
    color: #41b3b3;
    text-align: center;
    display: inline-block;
    float: left;
}

.logo > img {
    margin: 15px 0 -5px 0;
    width: 80px;
}

.shift {
    display: inline-block;
    float: left;
    margin-left: 2%;
}

.topbar span {
    font-size: 1.9vh;
}

.user {
    display: inline-block;
    margin-left: 35%;
}

.date {
    display: inline-block;
    float: right;
    line-height: 0;
    margin-right: 2%;
    text-align: center;
}

.date > p {
    font-size: 16px;
    line-height: 5px;
    font-weight: bold;
}


/*---------------SIDEBAR----------------*/

.sidebar {
    display: inline-block;
    float: left;
    width: 100px;
}

.menu {
    margin: 0;
    padding: 0;
    background: #37474F;
    margin-top: -1px;
}

.menu_btn {
    border: none;
    border-left: 5px solid #37474F;
    border-bottom: 1px solid black;
    width: 100%;
    height: 90px;
    text-align: center;
    background: #37474F;
    color: white;
}

.menu_btn:first-child {
    border-top: 1px solid black;
}

.menu_btn span {
    display: inline-block;
    font-family: icons;
    font-size: 24px;
    margin-bottom: 15%;
}

.active .menu_btn {
    background: #ebeef7;
    color: #323232;
    border-left: 10px solid #41b3b3;
}

.substrate {
    margin-top: -15px;
    padding: 350px 0;
    background: #37474F;
}


/*----------------TABLE-----------------*/

.wrapper {
    width: 100%;
}

.main {
    margin-left: 100px;
}

.leftside {
    display: inline-block;
    float: left;
    width: 67%;
    margin: 0.5%;
}

.bill {
    border: 1px solid #d6d6d6;
    border-spacing: 0;
    background: #ebebeb;
    width: 100%;
    height: 60%;
}

.bill input {
    width: 15px;
    height: 15px;
}

.bill th {
    background: #37474F;
    height: 6vh;
    color: white;
    font-weight: normal;
    text-align: center;
    border-left: 1px solid #d6d6d6;
}

.bill th:nth-child(1) {
    border-left: none;
    width: 6%;
}

.bill th:nth-child(2) {
    width: 46%;
}

.bill th:nth-child(3) {
    width: 13%;
}

.bill th:nth-child(4) {
    width: 13%;
}

.bill th:nth-child(5) {
    width: 13%;
}

.bill th:nth-child(6) {
    width: 9%;
}

.bill td {
    padding-left: 0.8%;
    line-height: 100%;
    height: 6vh;
    color: black;
    font-weight: normal;
    border-left: 1px solid #d6d6d6;
}

.bill td:first-child {
    text-align: center;
    padding-right: 1%;
}

.bill tr:nth-child(2n) {
    background: white;
}

.bill td .product_discount {
    font-weight: 600;
    color: red;
}


/*-----------------INFOBOX------------------*/

.rightside {
    display: inline-block;
    width: 30%;
    float: left;
    margin-top: 0.5%;
    height: 100%;
}

.weight {
    display: inline-block;
    padding: 2%;
    width: 100%;
    height: 60%;
    background: white;
    border: 1px solid #d6d6d6;
    font-size: 2.2vh;
}

.weight tr:first-child {
    height: 6vh;
    vertical-align: top;
}

.weight td:first-child {
    width: 60%;
}

.weight td:last-child {
    font-weight: 600;
}


/*-----------------CONTROL PANEL------------------*/

.summ {
    display: inline-block;
    float: right;
    margin-top: 2%;
    border: none;
    margin-right: 5%;
}

.summ td:first-child {
    text-align: right;
}

.summ tr:first-child {
    font-size: 5.5vh;
    font-weight: 700;
}

.summ tr {
    font-size: 3.5vh;
    font-weight: 500;
}

.btn-pay {
    width: 20vw;
    height: 10vh;
    font-size: 4vh;
    font-weight: 600;
    float: right;
    margin-top: 7.5%;
}

.control_buttons {
    display: inline-block;
    float: left;
    margin-top: 4.5%;
    width: 53%;
}

.search_buttons {
    display: inline-block;
}

.search_buttons fieldset {
    border: 1px solid #c4c4c4;
}

.search_buttons fieldset legend {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #323232;
}

.leftside .bottom_btn {
    display: inline-block;
    margin-top: 4%;
    float: left;
}

#calc-toggle {
    display: none;
}


/*-----------------CALCULATOR------------------*/

.calculator {
    background: #fff;
    width: 100%;
    height: 68vh;
    background: white;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    display: inline-block;
    padding: 2%;
    margin-top: 1%;
    text-align: center;
}

.buttons {
    text-align: center;
}

.calculator label {
    float: right;
    font-size: 2vh;
    font-weight: 700;
    color: #41b3b3;
}

#input-number {
    width: 98%;
    margin-top: 2%;
    height: 10vh;
}

.buttons table {
    width: 100%;
}

.buttons td {
    width: 25%;
}

.buttons tr {
    height: 10vh;
}

.calculator input[type=checkbox] {
    display: none;
}

.calculator input[type=checkbox] + label {
    font-size: 2vh;
    font-weight: 700;
    color: #37474F;
    height: 21vh;
    text-align: center;
    white-space: normal;
    line-height: 5px;
}

.calculator input[type=checkbox] + label p {
    font-size: 24px;
    margin-top: 50%;
}

.calculator input[type=checkbox]:checked + label {
    text-align: center;
    background: #abd7d7;
}


/*---------------Search-page----------------*/

.search_results {
    display: inline-block;
    width: 70%;
    margin: 1% 14% -0.5%;
}

.search_control {
    width: 100%;
    text-align: center;
}

.search_control .btn_shape {
    width: 100%;
}

.search_control td:nth-child(4) {
    width: 6.8%;
}

.hide-button {
    background: none !important;
    color: #323232;
    border: none;
}

.hide-button:active {
    color: dimgrey;
}

.search_input {
    width: 98% !important;
    height: 100%;
    font-size: 4vh;
    padding-left: 10px;
}


/*---------------------------------KEYBOARD---------------------------------*/

.keyboard {
    text-align: center;
    margin-right: 2%;
}

.keyboard .btn_normal {
    margin-top: 0.3%;
    font-size: 3vh;
    vertical-align: top;
    width: 6.5vw;
    height: 4.8vw;
}

.btn_dash {
    width: 70% !important;
}

.btn_ch {
    width: 10% !important;
    font-size: 2.5vh !important;
}


/*-----------------Discount-page / handle-discount-page------------------*/

.top_buttons {
    display: inline-block;
    width: 70%;
    margin: 3% 0% 0 15%;
}

.top_buttons input {
    display: inline-block;
    width: 48%;
    height: 8vh;
    font-size: 3vh;
}

.top_buttons input {
    background: #ebeef7;
}

.pressed {
    background: #abd7d7 !important;
}

.inputs span {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

#search_type {
    width: 37.5%;
    height: 8vh;
    background: #ebeef7;
    font-size: 3vh;
    padding-left: 10px;
    margin-top: 1%;
}

#search_area {
    width: 47%;
    height: 8vh;
    background: white;
    font-size: 3vh;
    padding-left: 10px;
}

#search_results {
    width: 86%;
    height: 8vh;
    margin-top: 1%;
    background: white;
    font-size: 3vh;
    padding-left: 10px;
    margin-bottom: 3%;
}

.main_buttons {
    text-align: center;
    margin-top: 2%;
}

.main_buttons input {
    text-align: center;
    width: 25%;
    height: 10vh;
    color: white;
    font-size: 3vh;
    font-weight: 600;
}

.del-discount {
    background: #e93522;
    margin-right: 50px;
}

.del-discount:hover {
    background: #c73020;
}

.accept-discount {
    background: #41b3b3;
}

.accept-discount:hover {
    background: #3ba3a3;
}

.numeric_keyboard {
    margin-left: 32.5%;
}

.numeric_keyboard .btn_normal {
    font-size: 3vh;
    width: 8vw;
    height: 11vh;
}

.numeric_keyboard td:nth-child(4) .btn_normal,
.numeric_keyboard td:nth-child(11) .btn_normal {
    height: 22.4vh;
}

#discount_list,
#discount_value,
#discount_type {
    height: 8vh;
    margin-top: 1%;
    background: white;
    font-size: 3vh;
    padding-left: 10px;
}

#discount_list {
    width: 86%;
}

#discount_value {
    width: 73%;
    margin-bottom: 2%;
}

#discount_type {
    display: inline-block;
    height: 8.5vh;
    width: 11.5%;
}


/*--------------------------------CATEGORY / CATALOG--------------------------*/

.category,
.catalog {
    width: 100%;
    margin: 0 1%;
    padding-top: 1%;
}

.category button,
.catalog button {
    height: 10vh;
    background: white;
    font-size: 2.5vh;
    vertical-align: middle;
    margin-bottom: 0.5%;
}

.category button {
    width: 24%;
}

.catalog button {
    width: 19.3%;
}

.bread_crumbs {
    margin: 1% 0 2% 4%;
}

.catalog a {
    text-decoration: none;
    color: #37474F;
    font-size: 3vh;
}

.catalog a:last-child {
    color: #41b3b3;
}

.category button:active,
.catalog button:active {
    background: #ebebeb;
}


/*---------------------------------------------------------VIEWSETTINGS-------------------------------*/

.view_settings {
    display: inline-block;
    width: 60%;
    margin-left: 30%;
    text-align: center;
}

.view_settings p {
    font-size: 2vw;
    font-weight: 700;
    margin-left: -35%;
}

.view_settings input[type="radio"] {
    display: none;
}

.view_settings input[type="radio"] + label {
    width: 60%;
    display: block;
    height: 8vh;
    cursor: pointer;
    line-height: 8vh;
    background: white;
    font-size: 3vh;
}

.view_settings input[type="radio"]:checked + label {
    background: #abd7d7;
    color: #323232;
}


/*--------------------------------INFO------------------------------*/

.product_info {
    width: 50%;
    padding-top: 1%;
    margin: 0 auto;
    text-align: center;
}

.product_info table {
    display: table;
    background: #ebebeb;
    width: 100%;
    border-spacing: 0;
    margin-top: 3%;
    text-align: left;
}

.product_info span {
    text-align: center;
    font-size: 4vh;
}

.product_info tr:nth-child(2n) {
    background: white;
}

.product_info td {
    width: 50%;
    color: black;
    padding-left: 10px;
    height: 4.5vh;
    font-size: 2.5vh;
    border-left: 1px solid #d6d6d6;
}


/*---------------PAYMENT----------------*/

.payment_info {
    margin-left: 5%;
    width: 100%;
    text-align: justify;
    line-height: 3vh;
    font-size: 3.5vh;
}

.payment_info span {
    float: right;
    font-size: 5vh;
    margin-right: 10%;
}

.payment_info p:nth-child(3) {
    color: #41b3b3;
    font-weight: 600;
}

.payment_type,
.payment_value {
    display: inline-block;
    float: left;
    background: white;
    border: 1px solid #d6d6d6;
}

.payment_type {
    margin-left: 5%;
    width: 70%;
    border-right: none;
}

.payment_value {
    width: 19%;
    border-left: none;
    text-align: right;
    padding-right: 1%;
}

.payment_controls {
    margin-top: 10%;
}

.payment_controls input[type="radio"] {
    display: none;
}

.payment_controls input[type="radio"] + label {
    display: block;
    line-height: 8vh;
    height: 8vh;
    padding-left: 2%;
    cursor: pointer;
    background: white;
    border-bottom: 1px solid #d6d6d6;
    font-size: 2vw;
}

.payment_controls .payment_type input[type="radio"]:checked + label {
    background: #abd7d7;
}

.button-cancel {
    margin: 10% 5%;
    width: 15vw !important;
    background: #37474F;
    font-size: 1.8vw;
    color: white;
    display: inline-block;
    float: left;
}

.button-cancel:active {
    background: #323232;
}


/*-----------------------------MediaQuerries-----------------------------------*/

@media only screen and (max-width: 1024px) {
    .leftside {
        width: 60%;
    }
    .rightside {
        width: 35%;
    }
    #ls {
        width: 99%;
    }
    .sidebar {
        width: 80px;
    }
    .user {
        margin-left: 30%;
    }
    .menu_btn {
        font-size: 12px;
        height: 70px;
    }
    .menu_btn span {
        font-size: 20px;
        margin-bottom: 5%;
    }
    .logo {
        width: 80px;
    }
    .logo img {
        width: 70px;
    }
    .main {
        margin-left: 80px;
    }
    .control_buttons {
        margin-top: 7%;
    }
    .topbar {
        height: 40px;
        background: #41b3b3;
        margin: 0;
        color: white;
        font-size: 1.8vh;
        line-height: 39px;
    }
    .date p {
        margin-top: 13px;
        line-height: 0;
    }
    .btn_normal {
        width: 7vw;
        height: 7vw;
    }
    .weight {
        height: 20vh;
    }
    .calculator {
        height: 70vh;
    }
    .numeric_keyboard {
        width: 20%;
        margin-top: -1%;
        margin-left: 31.5%;
    }
    .summ tr:first-child {
        font-size: 4vw;
    }
    .summ tr {
        font-size: 3.2vw;
    }
    .control_buttons {
        width: 60%;
        margin-top: 4%;
    }
    .main_buttons input {
        font-size: 2.5vh;
    }
    .search_control {
        width: 140%;
        margin-left: -18.6%;
    }
    .search_control td:nth-child(4) {
        width: 6.8%;
    }
    .search_input {
        width: 97% !important;
    }
    .keyboard {
        text-align: center;
        margin-right: 2%;
    }
    .keyboard .btn_normal {
        width: 7vw;
        height: 7vw;
    }
    #discount_value {
        width: 73%;
    }
    #discount_type {
        width: 10.5%;
    }
    #rs {
        display: block;
        position: fixed;
        cursor: pointer;
        top: 40px;
        right: 0;
        width: 350px;
        transform: translateX(100%);
        transition: transform 0.6s ease;
        z-index: 1000;
    }
    #rs.open {
        transform: translateX(-6%);
    }
    #calc-toggle {
        display: inline-block;
        z-index: 2;
    }
    #dark {
        background: #000;
        height: 100%;
        opacity: 0.3;
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        visibility: hidden;
    }
}