        *::-webkit-input-placeholder {
            color: #666;
            opacity: 1;
        }
        
        *:-moz-placeholder {
            color: #666;
            opacity: 1;
        }
        
        *::-moz-placeholder {
            color: #666;
            opacity: 1;
        }
        
        *:-ms-input-placeholder {
            color: #666;
            opacity: 1;
        }
        
        @font-face {
            font-family: Icons;
            /* Имя шрифта */
            src: url(font/icons.ttf);
            /* Путь к файлу со шрифтом */
        }
        
        body input:focus:required:invalid,
        body textarea:focus:required:invalid {}
        
        body input:required:valid,
        body textarea:required:valid {}
        
        html,
        body {
            font-family: "Open sans", sans-serif;
            font-size: 15px;
            background-color: #ebeef7;
            width: 100%;
            min-height: 1000px;
            margin: 0;
            overflow: hidden;
        }
        
        input {
            outline: none;
        }
        /*---------------TOPBAR----------------*/
        
        .topbar {
            height: 50px;
            background: #41b3b3;
            margin: 0;
            color: white;
            font-size: 12px;
            line-height: 49px;
        }
        
        .logo {
            width: 180px;
            background: #17181c;
            color: #41b3b3;
            text-align: center;
            display: inline-block;
            float: left;
        }
        
        .logo > img {
            margin: 15px 0 -5px 0;
        }
        
        .shift {
            display: inline-block;
            float: left;
            margin-left: 30px;
        }
        
        .topbar span {
            font-size: 14px;
        }
        
        .user {
            display: inline-block;
            margin-left: 30%;
        }
        
        .date {
            display: inline-block;
            float: right;
            line-height: 0;
            margin-right: 30px;
            text-align: center;
        }
        
        .date > p {
            font-size: 16px;
            line-height: 5px;
            font-weight: bold;
        }
        
        .wrapper {
            display: inline-block;
            width: 100%;
        }
        /*---------------SIDEBAR----------------*/
        
        .sidebar {
            display: inline-block;
            float: left;
            height: 100%;
        }
        
        .menu {
            margin-top: -1px;
            width: 180px;
            list-style-type: none;
            padding: 0;
            margin-top: 0;
            background: #17181c;
            color: white;
            font-size: 13px;
        }
        
        .menu li {
            border-bottom: 1px solid #101115;
            padding-left: 15px;
            border-left: 10px solid #17181c;
            line-height: 60px;
        }
        
        .menu li:first-child {
            border-top: 1px solid #101115;
            margin-top: -1px;
        }
        
        .menu li a {
            color: white;
            text-decoration: none;
            line-height: 60px;
            display: inline-block;
            width: 100%;
        }
        
        .menu li span {
            font-family: Icons;
            font-size: 22px;
            margin-right: 15px;
            vertical-align: middle;
        }
        
        .menu li:hover {
            background: #41b3b3;
            color: white;
            border-left: 10px solid #41b3b3;
        }
        
        .menu .active {
            line-height: 60px;
            background: #ebeef7;
            color: #323232;
            border-left: 10px solid #41b3b3;
            margin-left: -25px;
            padding-left: 15px;
            width: 100%;
        }
        
        .menu.active:hover {
            color: 323232;
        }
        
        .substrate {
            margin-top: -15px;
            padding: 350px 0;
            background: #17181c;
        }
        /*----------------TABLE-----------------*/
        
        .leftside {
            display: inline-block;
            float: left;
            margin: 10px;
            width: 59%;
        }
        
        .leftside .bill {
            display: inline-block;
            float: left;
            width: 100%;
        }
        
        .leftside .bill table {
            border: 1px solid #d6d6d6;
            border-spacing: 0;
            background: #ebebeb;
            width: 100%
        }
        
        .leftside .bill input {
            width: 15px;
            height: 15px;
        }
        
        .leftside .bill th {
            background: #17181c;
            height: 40px;
            color: white;
            font-weight: normal;
            text-align: center;
            border-left: 1px solid #d6d6d6;
        }
        
        .leftside .bill th:nth-child(1) {
            border-left: none;
            width: 6%;
        }
        
        .leftside .bill th:nth-child(2) {
            width: 46%;
        }
        
        .leftside .bill th:nth-child(3) {
            width: 13%;
        }
        
        .leftside .bill th:nth-child(4) {
            width: 13%;
        }
        
        .leftside .bill th:nth-child(5) {
            width: 13%;
        }
        
        .leftside .bill th:nth-child(6) {
            width: 9%;
        }
        
        .leftside .bill td {
            padding-left: 10px;
            height: 40px;
            line-height: 10px;
            color: black;
            font-weight: normal;
            border-left: 1px solid #d6d6d6;
        }
        
        .leftside .bill td:first-child {
            text-align: center;
            padding-right: 10px;
        }
        
        .leftside .bill tr:nth-child(2n) {
            background: white;
        }
        
        .leftside .bill td .product_discount {
            font-weight: 600;
            color: red;
        }
        
        .leftside .bill tr:nth-last-child(1),
        .leftside .bill tr:nth-last-child(2),
        .leftside .bill tr:nth-last-child(3) {
            display: none;
        }
        /*-----------------INFOBOX------------------*/
        
        .rightside {
            width: 320px;
            float: left;
        }
        
        .rightside .weight {
            display: inline-block;
            width: 100%
        }
        
        .weight > table {
            display: inline-block;
            padding: 10px;
            width: 100%;
            height: 120px;
            background: white;
            margin: 10px 0;
            border: 1px solid #d6d6d6;
            font-size: 14px;
        }
        
        .weight > table tr:first-child {
            height: 50px;
            vertical-align: top;
        }
        
        .weight > table td:first-child {
            width: 135px;
        }
        
        .weight > table td:last-child {
            font-weight: 600;
        }
        /*-----------------CONTROL PANEL------------------*/
        /*.control_panel {
    margin: 30px 0 0 0;
}
*/
        
        .summ {
            display: inline-block;
            float: right;
            margin-top: 30px;
            border: none;
            width: 40%;
        }
        
        .summ td:first-child {
            text-align: right;
        }
        
        .summ tr:first-child {
            font-size: 36px;
            font-weight: 700;
        }
        
        .summ tr {
            font-size: 24px;
            font-weight: 500;
        }
        
        .button-pay {
            text-align: center;
            width: 120px;
            height: 60px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #41b3b3;
            color: white;
            font-size: 24px;
            font-weight: 600;
            float: right;
            margin-top: 40px;
        }
        
        .button-pay:active {
            background: #449595;
        }
        
        .control_buttons {
            display: inline-block;
            float: left;
            margin-top: 30px;
            height: 208px;
            width: 60%;
        }
        
        .search_buttons {
            display: inline-block;
            margin-top: -50px;
        }
        
        .search_buttons fieldset {
            border: 1px solid #c4c4c4;
        }
        
        .search_buttons fieldset legend {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            color: #323232;
        }
        
        .leftside .nav_btn {
            display: inline-block;
            float: left;
        }
        
        .leftside .bottom_btn {
            display: inline-block;
            margin-top: 80px;
            float: left;
        }
        
        .leftside .button-normal {
            margin-right: 5px;
            font-size: 30px;
            font-family: Icons;
            background: white;
        }
        
        .leftside .bottom_btn .button-normal:nth-child(4) {
            background-color: #e93522;
            color: white;
        }
        
        .leftside .bottom_btn .button-normal:nth-child(4):active {
            background-color: #c33f31;
        }
        
        .search_buttons .button-normal:nth-child(3) {
            margin-right: 0;
        }
        /*-----------------CALCULATOR------------------*/
        
        .rightside .calculator {
            display: inline-block;
            float: left;
            background: #fff;
            width: 103%;
            height: 420px;
            padding: 5px;
            background: white;
            border: 1px solid #d6d6d6;
            font-size: 14px;
        }
        
        .calculator label {
            float: right;
            font-size: 12px;
            font-weight: 700;
            color: #41b3b3;
        }
        
        #input-number {
            width: 96%;
            margin-top: 5px;
            height: 50px;
            -moz-border-radius: 5px;
            /* Firefox */
            -webkit-border-radius: 5px;
            /* Safari, Chrome */
            -khtml-border-radius: 5px;
            /* KHTML */
            border-radius: 5px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #ebebeb;
            font-size: 24px;
            padding-left: 10px;
        }
        
        .button-normal {
            display: inline-block;
            width: 55px;
            height: 55px;
            -moz-border-radius: 5px;
            /* Firefox */
            -webkit-border-radius: 5px;
            /* Safari, Chrome */
            -khtml-border-radius: 5px;
            /* KHTML */
            border-radius: 5px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #ebebeb;
            vertical-align: top;
        }
        
        .calculator .button-normal {
            margin-top: 5px;
            display: inline-block;
            font-size: 30px;
            font-weight: 500;
            color: #17181c;
            width: 80px;
            height: 60px;
        }
        
        .button-wide {
            height: 58px;
            -moz-border-radius: 5px;
            /* Firefox */
            -webkit-border-radius: 5px;
            /* Safari, Chrome */
            -khtml-border-radius: 5px;
            /* KHTML */
            border-radius: 5px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #17181c;
            margin-top: 5px;
            display: inline-block;
            font-weight: 500;
            color: white;
            width: 248px;
            font-family: Icons;
            font-size: 30px;
        }
        
        .calculator .button-tall:active {
            background: #17181c;
            color: white;
        }
        
        .calculator .button-wide:active {
            background: #41b3b3;
            color: white;
        }
        
        .button-normal:active {
            background: #c4c4c4;
        }
        
        .calculator .button-normal:nth-child(1) {
            background-color: #e93522;
            font-size: 24px;
            color: white;
            width: 79px;
            margin-right: -1px
        }
        
        .calculator .button-normal:nth-child(1):active {
            background-color: #c33f31;
        }
        
        .calculator .button-number {
            background: #17181c;
            color: white;
        }
        
        .calculator .button-number:active {
            background: #323232;
            color: white;
        }
        
        .calculator input[type=checkbox] {
            display: none;
        }
        
        .calculator input[type=checkbox] + label {
            width: 76px;
            float: left;
            -moz-border-radius: 5px;
            /* Firefox */
            -webkit-border-radius: 5px;
            /* Safari, Chrome */
            -khtml-border-radius: 5px;
            /* KHTML */
            border-radius: 5px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #ebebeb;
            margin-top: 5px;
            margin-right: 3px;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            color: #17181c;
            height: 120px;
            text-align: center;
            white-space: normal;
            line-height: 5px;
        }
        
        .calculator input[type=checkbox] + label p {
            font-size: 24px;
        }
        
        .calculator input[type=checkbox]:checked + label {
            text-align: center;
            background: #abd7d7;
        }
        /*-----------------Discount-page / handle-discount-page------------------*/
        
        .main_window {
            margin-top: 30px;
            margin-left: 25%;
            width: 785px;
            padding: 15px;
        }
        
        .top_buttons {
            text-align: center;
        }
        
        .top_buttons input {
            display: inline-block;
            background: white;
            width: 48%;
            height: 50px;
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            font-size: 24px;
            line-height: 40px;
            cursor: pointer;
        }
        
        .pressed {
            background: #abd7d7;
        }
        
        .top_buttons input:nth-child(1) {
            margin-bottom: 30px;
            -moz-border-radius: 10px 0 0 10px;
            /* Firefox */
            -webkit-border-radius: 10px 0 0 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px 0 0 10px;
            /* KHTML */
            border-radius: 10px 0 0 10px;
            /* CSS3 */
            background: #ebeef7;
        }
        
        .top_buttons input:nth-child(2) {
            margin-left: -5px;
            margin-bottom: 30px;
            -moz-border-radius: 0 10px 10px 0;
            /* Firefox */
            -webkit-border-radius: 0 10px 10px 0;
            /* Safari, Chrome */
            -khtml-border-radius: 0 10px 10px 0;
            /* KHTML */
            border-radius: 0 10px 10px 0;
            /* CSS3 */
            background: #ebeef7;
        }
        
        .pressed {
            background: #abd7d7 !important;
        }
        
        .main_window span {
            font-size: 18px;
            font-weight: 600;
        }
        
        .main_window #search_type {
            width: 40%;
            height: 60px;
            margin-top: 10px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #ebeef7;
            font-size: 24px;
            padding-left: 10px;
        }
        
        .main_window #search_type:focus {
            outline: none;
        }
        
        .main_window #search_area {
            width: 46%;
            height: 60px;
            margin-top: 10px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 24px;
            padding-left: 10px;
        }
        
        .main_window #search_results {
            width: 88.2%;
            height: 60px;
            margin-top: 10px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 24px;
            padding-left: 10px;
            margin-left: 10px;
        }
        
        input {
            outline: none;
        }
        
        .main_window .keyboard {
            margin: 10px 0;
            padding-left: 10px;
        }
        
        .main_window .keyboard .button-normal,
        .numeric_keyboard .button-normal {
            background-color: white;
            margin-right: 5px;
            margin-top: 10px;
            font-size: 24px;
        }
        
        .main_window .keyboard .button-normal:active {
            background-color: #ebebeb;
        }
        
        .main_window .keyboard .second_row {
            margin-left: 30px;
        }
        
        .del-button {
            width: 100px;
            line-height: 50px;
        }
        
        .lang {
            font-size: 18px !important;
            text-transform: none !important;
        }
        
        .del-button {
            font-family: icons;
        }
        
        .dash-button {
            width: 475px;
        }
        
        .fourth_row input:nth-child(1) {
            font-size: 16px !important;
        }
        
        .main_window .main_buttons {
            text-align: center;
            margin-top: 30px;
        }
        
        .main_window .main_buttons input {
            text-align: center;
            width: 200px;
            height: 60px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            color: white;
            font-size: 16px;
            font-weight: 600;
        }
        
        .main_buttons .del-discount {
            background: #e93522;
            margin-right: 50px;
        }
        
        .main_buttons .del-discount:hover {
            background: #c73020;
        }
        
        .main_buttons .accept-discount {
            background: #41b3b3;
        }
        
        .main_buttons .accept-discount:hover {
            background: #3ba3a3;
        }
        
        .keyboard input[type=checkbox] {
            display: none;
        }
        
        .keyboard input[type=checkbox] + label {
            width: 100px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            margin-top: 10px;
            margin-right: 4px;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            color: #17181c;
            height: 53px;
            text-align: center;
            line-height: 52px;
            text-transform: none !important;
        }
        
        .keyboard input[type=checkbox] + label p {
            font-size: 24px;
        }
        
        .keyboard input[type=checkbox]:checked + label {
            text-align: center;
            background: #abd7d7;
        }
        
        .numeric_keyboard {
            width: 260px;
            margin: 10px auto;
        }
        
        .numeric_keyboard .button-normal:active {
            background: #ebebeb;
        }
        
        .numeric_keyboard .button-normal:nth-child(4),
        .numeric_keyboard .button-normal:nth-child(8) {
            height: 120px;
            float: right;
            margin-right: 15px;
        }
        
        .numeric_keyboard .button-normal:nth-child(14),
        .numeric_keyboard .button-normal:nth-child(4),
        .numeric_keyboard .button-normal:nth-child(8) {
            font-family: icons;
        }
        
        #discount_list {
            width: 85.2%;
            height: 60px;
            margin-top: 10px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 24px;
            padding-left: 10px;
            margin-left: 10px;
        }
        
        #discount_list:focus {
            outline: none;
        }
        
        #discount_value {
            width: 66%;
            height: 60px;
            margin-top: 10px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 24px;
            padding-left: 10px;
            margin-left: 10px;
        }
        
        #discount_value:focus {
            outline: none;
        }
        
        #discount_type {
            width: 11.5%;
            height: 60px;
            margin-top: 10px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 24px;
            padding-left: 10px;
        }
        
        #discount_type:focus {
            outline: none;
        }
        /*---------------Search-page----------------*/
        
        .main_window .search_results table {
            border: 1px solid #d6d6d6;
            border-spacing: 0;
            background: #ebebeb;
            width: 100%
        }
        
        .main_window .search_results .check {
            width: 15px;
            height: 15px;
        }
        
        .main_window .search_results th {
            background: #17181c;
            height: 40px;
            color: white;
            font-weight: normal;
            text-align: center;
            border-left: 1px solid #d6d6d6;
        }
        
        .main_window .search_resultsth:nth-child(1) {
            border-left: none;
            width: 6%;
        }
        
        .main_window .search_results th:nth-child(2) {
            width: 70%;
        }
        
        .main_window .search_results th:nth-child(3) {
            width: 12%;
        }
        
        .main_window .search_results th:nth-child(4) {
            width: 12%;
        }
        
        .main_window .search_results td {
            padding-left: 10px;
            height: 40px;
            line-height: 10px;
            color: black;
            font-weight: normal;
            border-left: 1px solid #d6d6d6;
        }
        
        .main_window .search_results td:first-child {
            text-align: center;
            padding-right: 10px;
        }
        
        .main_window .search_results tr:nth-child(2n) {
            background: white;
        }
        
        .main_window .search_control {
            margin-top: 20px;
        }
        
        .main_window .search_control .button-normal {
            background: #41b3b3;
            font-family: icons;
            color: white;
            font-size: 24px;
        }
        
        .main_window .search_control .button-normal:active {
            background: #3ba3a3;
        }
        
        .main_window .search_control .info-button {
            background: #17181c;
        }
        
        .main_window .search_control .info-button:active {
            background: #323232;
        }
        
        .main_window .search_control .hide-button {
            background: #ebeef7;
            color: #323232;
            border: none;
            font-size: 36px;
        }
        
        .main_window .search_control .hide-button:active {
            background: none;
        }
        
        .main_window .search_control .search_input {
            width: 48%;
            height: 50px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 24px;
            padding-left: 10px;
            margin-right: 5px;
        }
        /*---------------PAYMENT----------------*/
        
        .payment_info {
            width: 98.8%;
            text-align: justify;
            line-height: 18px;
            font-size: 24px;
            margin-bottom: 18px;
            margin-top: -50px;
        }
        
        .payment_info span {
            text-align: justify;
            float: right;
            font-size: 24px;
        }
        
        .payment_info p:nth-child(3) {
            color: #41b3b3;
            font-weight: 600;
        }
        
        .payment_type,
        .payment_value {
            display: inline-block;
            height: 348px;
            float: left;
            background: white;
            border: 1px solid #d6d6d6;
        }
        
        .payment_type {
            width: 35%;
            margin-right: -1px;
            border-right: none;
        }
        
        .payment_value {
            width: 19%;
            border-left: none;
            text-align: right;
            padding-right: 10px;
        }
        
        .payment_controls input[type="radio"] {
            display: none;
        }
        
        .payment_controls input[type="radio"] + label {
            display: block;
            line-height: 50px;
            height: 50px;
            padding-left: 20px;
            cursor: pointer;
            background: white;
            border-bottom: 1px solid #d6d6d6;
            font-size: 18px;
        }
        
        .payment_controls .payment_type input[type="radio"]:checked + label {
            background: #abd7d7;
            color: #323232;
        }
        
        .payment_inputs {
            display: inline-block;
            width: 40%;
            background: white;
            height: 318px;
            margin-left: 1%;
            border: 1px solid #d6d6d6;
            padding: 15px;
            padding-right: 7px;
        }
        
        .payment_inputs input[type=text] {
            height: 50px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            display: inline-block;
            float: left;
            background: #ebebeb;
            padding-left: 10px;
            width: 94%;
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        .payment_inputs .button-normal {
            background: #ebebeb;
            margin-bottom: 10px;
            margin-right: 5px;
            font-size: 24px;
        }
        
        .payment_inputs .button-normal:active {
            background: #c4c4c4;
        }
        
        .payment_inputs .button-normal:nth-child(1) {
            margin-right: 0;
            font-family: icons;
        }
        
        .payment_inputs .button-normal:nth-child(5),
        .payment_inputs .button-normal:nth-child(9) {
            width: 115px;
            margin-right: 0;
            font-family: icons;
        }
        
        .payment_inputs .button-normal:nth-child(9) {
            background: #e93522;
            color: white;
        }
        
        .payment_inputs .button-normal:nth-child(9):active {
            background: #c33f31;
        }
        
        .payment_inputs .button-normal:nth-child(13) {
            display: inline-block;
            float: right;
            width: 115px;
            height: 120px;
            margin-right: 10px;
            background: #41b3b3;
            color: white;
        }
        
        .payment_inputs .button-normal:nth-child(13):active {
            background: #449595;
        }
        
        .button-cancel {
            margin-top: 15px;
            margin-left: 35%;
            width: 250px;
            height: 60px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: #17181c;
            font-size: 24px;
            color: white;
            display: inline-block;
            float: left;
        }
        
        .button-cancel:active {
            background: #323232;
        }
        /*---------------------------------------------------------CATEGORY-------------------------------*/
        
        .category {
            width: 100%;
            margin-left: 15%;
            margin-top: 20px;
        }
        
        .category > button {
            width: 20%;
            height: 80px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 18px;
            color: #17181c;
            margin-bottom: 20px;
            vertical-align: top;
        }
        /*---------------------------------------------------------VIEWSETTINGS-------------------------------*/
        
        .view_settings {
            width: 60%;
            margin: 50px 0 0 23%;
            display: inline-block;
            height: 230px;
            float: left;
            text-align: center;
        }
        
        .view_settings p {
            font-size: 24px;
            font-weight: 700;
            text-align: left;
            margin-left: 10%;
        }
        
        .view_settings input[type="radio"] {
            display: none;
        }
        
        .view_settings input[type="radio"] + label {
            width: 60%;
            display: block;
            line-height: 50px;
            height: 50px;
            padding-left: 20px;
            cursor: pointer;
            background: white;
            border-bottom: 1px solid #d6d6d6;
            font-size: 18px;
        }
        
        .view_settings input[type="radio"]:checked + label {
            background: #abd7d7;
            color: #323232;
        }
        
        .view_settings select:focus {
            outline: none;
        }
        
        .product_info span {
            font-size: 24px;
        }
        
        .product_info table {
            border: 1px solid #d6d6d6;
            border-spacing: 0;
            background: #ebebeb;
            width: 100%;
            margin-top: 30px;
        }
        
        .product_info table tr:nth-child(2n) {
            background: white;
        }
        
        .product_info table td {
            color: black;
            padding-left: 10px;
            height: 30px;
            font-size: 18px;
            border-left: 1px solid #d6d6d6;
        }
        
        .catalog {
            display: inline-block;
            float: left;
            margin-left: 20px;
            margin-top: 20px;
            width: 80%;
        }
        
        .bread_crumbs {
            margin-bottom: 30px;
        }
        
        .catalog a {
            text-decoration: none;
            color: #17181c;
            font-size: 18px;
        }
        
        .catalog a:last-child {
            color: #41b3b3;
        }
        
        .catalog button {
            width: 19%;
            height: 60px;
            -moz-border-radius: 10px;
            /* Firefox */
            -webkit-border-radius: 10px;
            /* Safari, Chrome */
            -khtml-border-radius: 10px;
            /* KHTML */
            border-radius: 10px;
            /* CSS3 */
            behavior: url(border-radius.htc);
            /* IE border-radius */
            border: 1px solid #d6d6d6;
            background: white;
            font-size: 18px;
            margin: 0 5px 5px 0;
        }
        
        .category button:focus,
        .catalog button:focus {
            outline: none;
        }
        
        .category button:active,
        .catalog button:active {
            background: #ebebeb;
        }
        /*---------------MEDIASCREENS----------------*/
        
        @media only screen and (min-width: 1025px) and (max-width: 1280px) {
            .leftside {
                width: 57%;
            }
            .summ {
                width: 38%;
            }
            .control_buttons {
                width: 62%;
            }
            .rightside {
                width: 25%;
                float: left;
            }
            .summ {
                margin-top: 20px;
                width: 35%;
            }
            .control_buttons {
                display: inline-block;
                float: left;
                margin-top: 20px;
                height: 208px;
                width: 65%;
            }
            .search_buttons {
                display: inline-block;
                margin-top: -20px;
            }
            .leftside .bottom_btn {
                display: inline-block;
                margin-top: 67px;
                float: left;
            }
            .button-pay {
                margin-top: 30px;
                width: 200px;
                float: left;
            }
            .product_8 {
                display: none;
            }
            .search_results tr:last-child {
                display: none;
            }
            .main_window {
                margin-top: 10px;
            }
            .main_window .keyboard .button-normal {
                margin-top: 5px;
            }
            .keyboard .caps-button {
                width: 100px;
                font-size: 18px !important;
            }
            .top_buttons {
                margin-bottom: -25px;
            }
            .payment_info {
                margin-top: -25px;
            }
            .product_info span {
                display: none;
            }
        }
        
        @media only screen and (max-width: 1024px) {
            body {
                font-size: 13px;
            }
            .leftside {
                width: 57%;
                margin: 20px;
            }
            .category {
                margin-left: 120px;
            }
            /*---------------SIDEBAR----------------*/
            .menu {
                width: 100px;
                font-size: 11px;
                text-align: center;
            }
            .menu li {
                width: 75%;
            }
            li a {
                display: inline-block;
                line-height: 10px;
                margin-left: -25px;
                width: 100%;
                border-left: 10px solid #17181c;
                width: 100%;
                padding: 15px 10px 15px 5px;
            }
            li span {
                margin-left: 15px;
                display: inline-block;
                margin-bottom: 15px;
                margin-top: 3px;
                font-size: 24px;
            }
            .active {
                background: #ebeef7;
                color: #323232;
                border-left: 10px solid #41b3b3;
                width: 100%;
                padding: 15px 10px 15px 5px;
            }
            li a:hover {
                border-left: 10px solid #41b3b3;
            }
            /*---------------SIDEBAR----------------*/
            /*---------------TOPBAR----------------*/
            .topbar {
                height: 40px;
                font-size: 11px;
                line-height: 39px;
            }
            .logo {
                width: 100px;
            }
            .logo > img {
                width: 80px;
            }
            .topbar span {
                font-size: 12px;
            }
            .date {
                display: inline-block;
                float: right;
                line-height: 0;
                margin-right: 30px;
                text-align: center;
            }
            .date > p {
                font-size: 14px;
                line-height: 0;
                font-weight: bold;
            }
            .button-normal {
                width: 50px;
                height: 50px;
                -moz-border-radius: 8px;
                /* Firefox */
                -webkit-border-radius: 8px;
                /* Safari, Chrome */
                -khtml-border-radius: 8px;
                /* KHTML */
                border-radius: 8px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
            }
            /*-----------------CONTROL PANEL------------------*/
            .summ tr:first-child {
                font-size: 24px;
                font-weight: 700;
            }
            .summ {
                margin-top: 20px;
                width: 30%;
            }
            .summ tr {
                font-size: 20px;
                font-weight: 500;
            }
            .control_buttons {
                display: inline-block;
                float: left;
                margin-top: 20px;
                height: 208px;
                width: 70%;
            }
            .search_buttons {
                display: inline-block;
                margin-top: -20px;
            }
            .leftside .bottom_btn {
                display: inline-block;
                margin-top: 50px;
                float: left;
            }
            .button-pay {
                margin-top: 30px;
                width: 250px;
            }
            /*-----------------CONTROL PANEL------------------*/
            /*-----------------INFOBOX------------------*/
            .weight > table {
                width: 260px;
                height: 140px;
                margin: 20px 0;
                font-size: 13px;
            }
            /*-----------------CALCULATOR------------------*/
            .rightside {
                width: 20%;
                margin-left: -5px;
            }
            .rightside .calculator {
                width: 265px;
                height: 360px;
            }
            .calculator label {
                float: right;
                font-size: 13px;
            }
            #input-number {
                width: 95.5%;
                height: 38px;
                margin: 5px 5px 5px 0;
                -moz-border-radius: 5px;
                /* Firefox */
                -webkit-border-radius: 5px;
                /* Safari, Chrome */
                -khtml-border-radius: 5px;
                /* KHTML */
                border-radius: 5px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
                font-size: 18px;
            }
            .calculator .button-normal {
                margin-top: 5px;
                margin-right: 0px;
            }
            .button-wide {
                height: 50px;
                -moz-border-radius: 5px;
                /* Firefox */
                -webkit-border-radius: 5px;
                /* Safari, Chrome */
                -khtml-border-radius: 5px;
                /* KHTML */
                border-radius: 5px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
                margin-top: 5px;
                width: 158px;
            }
            .calculator .button-normal:nth-child(5),
            .calculator .button-normal:nth-child(11),
            .calculator .button-normal:nth-child(15),
            .calculator .button-normal:nth-child(21) {
                margin-left: 2px;
                margin-right: -3px;
            }
            .calculator .button-normal:nth-child(1) {}
            .calculator input[type=checkbox] + label {
                width: 46px;
                float: left;
                -moz-border-radius: 5px;
                /* Firefox */
                -webkit-border-radius: 5px;
                /* Safari, Chrome */
                -khtml-border-radius: 5px;
                /* KHTML */
                border-radius: 5px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
                margin-top: 5px;
                margin-right: 5px;
                font-size: 10px;
                font-weight: 700;
                height: 102px;
            }
            .calculator input[type=checkbox] + label p {
                font-size: 22px;
            }
            .leftside .bill tr:nth-last-child(1),
            .leftside .bill tr:nth-last-child(2),
            .leftside .bill tr:nth-last-child(3) {
                display: table-row;
            }
            .main_window {
                margin-left: 16%;
            }
            .main_window .inputs input,
            select {
                height: 50px !important;
            }
            .main_window .button-normal {
                width: 55px;
                height: 55px;
            }
            .dash-button {
                width: 60.8% !important;
            }
            .caps-button,
            .del-button {
                width: 100px !important;
            }
            .payment_controls select {
                height: 100% !important;
            }
        }
        
        @media only screen and (min-width: 1920px) {
            body {
                font-size: 18px;
            }
            .leftside {
                width: 68%;
                margin: 20px;
            }
            .category {
                margin-left: 120px;
            }
            /*---------------SIDEBAR----------------*/
            .menu {
                font-size: 14px;
            }
            .menu a {
                line-height: 60px;
                height: 60px;
            }
            /*
        .menu {
            width: 100px;
            font-size: 14px;
            text-align: center;
        }
        
        .menu li {
            width: 75%;
        }
        
        li a {
            display: inline-block;
            line-height: 15px;
            margin-left: -25px;
            width: 100%;
            border-left: 10px solid #17181c;
            width: 100%;
            padding: 15px 10px 15px 5px;
        }
        
        li span {
            margin-left: 15px;
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 3px;
            font-size: 24px;
        }
        
        .active {
            background: #ebeef7;
            color: #323232;
            border-left: 10px solid #41b3b3;
            width: 100%;
            padding: 15px 10px 15px 5px;
        }
        
        li a:hover {
            border-left: 10px solid #41b3b3;
        }
*/
            /*---------------SIDEBAR----------------*/
            /*---------------TOPBAR----------------*/
            .topbar {
                height: 50px;
                font-size: 14px;
                line-height: 49px;
            }
            .logo {
                width: 180px;
            }
            .logo > img {
                width: 80px;
            }
            .topbar span {
                font-size: 18px;
            }
            .date {
                display: inline-block;
                float: right;
                line-height: 0;
                margin-right: 30px;
                text-align: center;
            }
            .date > p {
                font-size: 14px;
                line-height: 10px;
                font-weight: bold;
            }
            .button-normal {
                width: 80px;
                height: 80px;
                -moz-border-radius: 8px;
                /* Firefox */
                -webkit-border-radius: 8px;
                /* Safari, Chrome */
                -khtml-border-radius: 8px;
                /* KHTML */
                border-radius: 8px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
            }
            /*-----------------CONTROL PANEL------------------*/
            .leftside {
                width: 64%;
            }
            .summ tr:first-child {
                font-size: 48px;
                font-weight: 700;
            }
            .summ {
                margin-top: 35px;
                width: 28%;
            }
            .summ tr {
                font-size: 40px;
                font-weight: 500;
            }
            .control_buttons {
                display: inline-block;
                float: left;
                margin-top: 20px;
                height: 208px;
                width: 50%;
            }
            .search_buttons {
                display: inline-block;
                margin-top: -20px;
                margin-left: 50px;
            }
            .leftside .bottom_btn {
                display: inline-block;
                margin-top: 90px;
                float: left;
            }
            .button-pay {
                margin-top: 30px;
                width: 300px;
                height: 76px;
            }
            /*-----------------CONTROL PANEL------------------*/
            /*-----------------INFOBOX------------------*/
            .weight > table {
                width: 98%;
                height: 180px;
                margin: 20px 0;
                font-size: 18px;
            }
            /*-----------------CALCULATOR------------------*/
            .rightside {
                width: 440px;
                margin-left: -5px;
            }
            .rightside .calculator {
                width: 100%;
                height: 100%;
            }
            .calculator label {
                float: right;
                font-size: 18px;
            }
            #input-number {
                width: 97%;
                height: 80px;
                margin: 5px 5px 5px 0;
                -moz-border-radius: 5px;
                /* Firefox */
                -webkit-border-radius: 5px;
                /* Safari, Chrome */
                -khtml-border-radius: 5px;
                /* KHTML */
                border-radius: 5px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
                font-size: 36px;
            }
            .calculator .button-normal:first-child {
                width: 106px;
                margin-right: 1px
            }
            .calculator .button-normal {
                margin-top: 5px;
                margin-right: 0px;
                width: 107px;
                height: 90px;
            }
            .calculator .button-normal:nth-child(17) {
                font-family: icons;
            }
            .calculator .button-normal:nth-child(16) {
                font-size: 72px;
            }
            .button-wide {
                height: 88px;
                -moz-border-radius: 5px;
                /* Firefox */
                -webkit-border-radius: 5px;
                /* Safari, Chrome */
                -khtml-border-radius: 5px;
                /* KHTML */
                border-radius: 5px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
                margin-top: 5px;
                width: 328px;
            }
            .calculator input[type=checkbox] + label {
                float: left;
                -moz-border-radius: 5px;
                /* Firefox */
                -webkit-border-radius: 5px;
                /* Safari, Chrome */
                -khtml-border-radius: 5px;
                /* KHTML */
                border-radius: 5px;
                /* CSS3 */
                behavior: url(border-radius.htc);
                /* IE border-radius */
                width: 104px;
                padding-top: 40px;
                margin-top: 6px;
                margin-right: 5px;
                font-size: 16px;
                font-weight: 700;
                height: 140px;
            }
            .calculator input[type=checkbox] + label p {
                font-size: 30px;
            }
            /*-------------------------------Bill-----------------------------------*/
            .leftside .bill th:nth-child(1) {
                border-left: none;
                width: 5%;
            }
            .leftside .bill th:nth-child(2) {
                width: 58%;
            }
            .leftside .bill th:nth-child(3) {
                width: 10%;
            }
            .leftside .bill th:nth-child(4) {
                width: 10%;
            }
            .leftside .bill th:nth-child(5) {
                width: 10%;
            }
            .leftside .bill th:nth-child(6) {
                width: 8%;
            }
            .leftside .bill tr:nth-last-child(1),
            .leftside .bill tr:nth-last-child(2),
            .leftside .bill tr:nth-last-child(3) {
                display: table-row;
            }
            .main_window {
                width: 60%;
                margin-left: 18%;
                margin-left: 22%;
            }
            .main_window .search_results table {
                width: 93.5%;
            }
            .main_window .keyboard .second_row {
                margin-left: 50px;
            }
            .main_window .inputs input,
            select {
                height: 76px !important;
            }
            .dash-button {
                width: 60.8% !important;
            }
            .caps-button,
            .del-button {
                width: 150px !important;
                height: 80px !important;
            }
            .payment_controls select {
                height: 100% !important;
            }
            .search_control .search_input {
                height: 76px !important;
                font-size: 36px !important;
            }
            .top_buttons {
                margin-right: 65px;
            }
            .handle_discount,
            .client_discount {
                height: 76px !important;
            }
            .del-discount,
            .accept-discount {
                width: 300px !important;
                height: 76px !important;
                font-size: 20px !important;
                ;
            }
            .numeric_keyboard {
                width: 31.5%
            }
            .numeric_keyboard .button-normal:nth-child(4),
            .numeric_keyboard .button-normal:nth-child(8) {
                height: 170px;
                float: right;
                margin-right: 15px;
            }
            #discount_value {
                width: 68.35%;
                ;
            }
            .category {
                margin-left: 200px;
            }
            .category button,
            .catalog button {
                font-size: 24px;
                width: 330px;
                height: 100px;
            }
            .catalog {
                width: 89%;
            }
            /*######################Payment#####################*/
            .payment_type,
            .payment_value {
                height: 460px;
            }
            .payment_inputs {
                height: 430px;
                width: 34.3%;
            }
            .payment_inputs .button-normal {
                font-size: 30px;
                ;
            }
            .payment_inputs:nth-child {
                height: 418px;
            }
            .payment_type {
                width: 41%;
            }
            .payment_controls input[type="radio"] + label {
                font-size: 30px;
                line-height: 60px;
                height: 60px;
                padding-left: 20px;
            }
            .payment_value li {
                font-size: 30px;
                line-height: 60px;
                height: 60px;
                font-size: 30px;
            }
            .payment_value li:first-child {
                margin-top: -18.5px;
            }
            .payment_inputs .button-normal:nth-child(13) {
                height: 170px;
                font-size: 24px;
                ;
            }
            .payment_inputs input[type=text] {
                height: 70px;
                font-size: 30px;
                ;
            }
            .payment_info {
                line-height: 24px;
                margin-bottom: 30px;
                margin-top: 30px;
            }
            .button-cancel {
                margin-left: 40%;
                margin-top: 30px;
                height: 80px;
                width: 300px;
            }
            .view_settings {
                width: 60%;
                margin: 50px 0 0 25%;
            }
            .view_settings p {
                margin-left: 17%;
            }
        }